
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #FFA500;
  text-emphasis-color: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.card-body {
  border-style: none;
  background-color: #FFFFFF;
}

.card-header {
  border-style: none;
  background-color: #FFFFFF;
}

body {
  background-color: #D8D8D8;
}
